<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoping.project.shop.mapper.MineCollectMapper">

    <resultMap type="MineCollect" id="MineCollectResult">
        <result property="uuid"    column="uuid"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="userId"    column="user_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="goods"     column="goods_id" javaType="MineGoods" resultMap="MineGoodsResult" />
    </resultMap>

    <resultMap type="MineGoods" id="MineGoodsResult">
        <result property="title"    column="title"    />
        <result property="url"    column="url"    />
        <result property="price"    column="price"    />
    </resultMap>

    <sql id="selectMineCollectVo">
    select l.uuid, l.goods_id, l.user_id, l.del_flag, l.create_by, l.create_time, l.update_by, l.update_time, l.remark,
     g.title, g.url,g.price
     from mine_collect l
		LEFT JOIN mine_goods g on g.uuid = l.goods_id
</sql>

    <select id="selectMineCollectList" parameterType="MineCollect" resultMap="MineCollectResult">
        <include refid="selectMineCollectVo"/>
        <where>
            g.state='10' and g.del_flag='0'
            <if test="goodsId != null  "> and l.goods_id = #{goodsId}</if>
            <if test="userId != null "> and l.user_id = #{userId}</if>
        </where>
        order by l.create_time desc
    </select>

    <select id="selectMineCollectByUuid" parameterType="Long" resultMap="MineCollectResult">
        <include refid="selectMineCollectVo"/>
        where uuid = #{uuid}
    </select>

    <insert id="insertMineCollect" parameterType="MineCollect" useGeneratedKeys="true" keyProperty="uuid">
        insert into mine_collect
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">goods_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">#{goodsId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMineCollect" parameterType="MineCollect">
        update mine_collect
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where uuid = #{uuid}
    </update>

    <delete id="deleteMineCollectByUuid" parameterType="MineCollect">
        delete from mine_collect
        <where>
            <if test="uuid != null and uuid!=0"> and uuid = #{uuid}</if>
            <if test="goodsId != null and goodsId!=0"> and goods_id = #{goodsId}</if>
            <if test="userId != null and userId!=0"> and user_id = #{userId}</if>
        </where>
    </delete>

    <delete id="deleteMineCollectByUuids" parameterType="String">
        delete from mine_collect where uuid in
        <foreach item="uuid" collection="array" open="(" separator="," close=")">
            #{uuid}
        </foreach>
    </delete>

</mapper>
