<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增轮播图')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-banner-add" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-3 control-label">标题：</label>
                <div class="col-sm-8">
                    <input name="title" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-3 control-label">图片：</label>
                <div class="col-sm-8">
                    <input name="photoFile" type="file" class="form-control" required></input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" >关联商品：</label>
                <div class="col-sm-8">
                    <select name="goodsId" class="form-control m-b" >
                        <option th:each="good : ${list}" th:text="${good.title}" th:value="${good.uuid}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "shop/banner"
        $("#form-banner-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {

                var formData = new FormData($("#form-banner-add")[0]);
                $.ajax({
                    url:  prefix + "/add",
                    data: formData,
                    type: "post",
                    processData: false,
                    contentType: false,
                    success: function(result) {
                        $.operate.successCallback(result);
                    },
                    error : function(request) {
                        $.modal.alertError("系统错误");
                    }
                });
            }
        }
    </script>
</body>
</html>
